.body__auto{
  background-image: url('../img/auto/213.jpg');
}
.autoris {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 1s;
  height: 900px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 50px;
  }

  .container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }

  input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #ff584c;
  }

  #signupForm {
    display: none;

    p {
      margin-top: 20px;
      cursor: pointer;
    }
  }

  #loginForm {

    p {
      margin-top: 20px;
      cursor: pointer;

    }
  }

  .autoris {
    animation: fadein 1s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}